@import './root';
@import './scroll';

*[hidden="hidden"] {
  display: none!important;
}



.icon-button{
  background: transparent;
  border: none;
  cursor: pointer;
}
.block__title {
  margin: 0;
  padding: 32px 16px 16px;
  color: rgba(69, 90, 100, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.bottom-tool-bar {
  display: flex;
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-top: 1px solid #efefef;
  
  &.canclose {
    padding-top: 10px;
    padding-bottom: 15px;
    
    background-color: #fbfafa;
  }

  .tool-bar-title {
    padding: 6px 0;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
  }
  .close {
    position: absolute;
    right: 8px;
    top: 5px;
  }

  &.around {
    justify-content: space-around;
  }
  &.bar {
    flex-direction: column;
    justify-content: center;
  }

  .bar {
    display: block;
    margin: 0 20px;
    margin-top: 5px;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 10px 5px;
    display: inline-block;
    text-align: center;
    cursor: pointer;

    span {
      display: block;
      margin-top: 5px;
    }

    &:hover, &:active {
      color: $color-highlight;
    }

    &[disabled] {
      color: rgba(77, 86, 90, 0.6);
      cursor: default;
    }
  }

  &[disabled] {
    li {
      color: rgba(77, 86, 90, 0.6);
      cursor: default;

      &:hover, &:active {
        color: rgba(77, 86, 90, 0.6);
      }
    }
  }
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-btn {

  white-space: nowrap;
  font-size: 0px;
  display: inline-block;

  button {
    color: #323233;
    background-color: #fff;
    border: 1px solid #ebedf0;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 44px;
    margin: 0;
    padding: 4px 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    white-space: nowrap;

    vertical-align: middle;
    height: 45px;

    i {
      vertical-align: middle;
      line-height: 29px;
    }

    &:hover, &:active {
      background-color: #e5e5e5;
      border: 1px solid #d8dadb;
    }
    &.active {
      color: $color-highlight;
      background-color: #e5e5e5;
      border: 1px solid #d8dadb;
    }

    &:first-child:not(.no-left-radius) {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    &:not(:first-child), .no-border-left {
      border-left: none;
    }

    &:last-child:not(.no-right-radius) {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }

  &.small {

    margin-bottom: 10px;

    button {
      padding: 1px 10px;
      font-size: 15px;
     
      height: 30px;

      &.active {
        background-color: #e5e5e5;
        border: 1px solid #d8dadb;
        color: #323233;
      }

      i {
        vertical-align: middle;

        font-size: 18px;
        margin-right: 4px;
      }
    }
  }
}
.color-boxs {
  list-style: none;
  display: flex;
  padding: 5px;
  margin: 0;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;

  li {
    list-style: none;
    margin: 0;
    display: inline-block;
    width: 10%;
    height: 10vw;
    border-width: 2px;
    border-style: none;
    padding: 3px;

    > div {
      position: relative;
      height: 100%;
      text-align: center;
      line-height: calc(10vw - 6px);
      transition: all ease-in-out 0.2s;

      &:active {
        opacity: 0.8;
        transform: scale(0.9);
        
      }
    }

    margin-left: 4px;
    margin-top: 2px;

    &.active {
      border-style: solid;
      opacity: 0.8;
      transform: scale(1.11);

      > div {
        line-height: calc(10vw - 10px);
      }
    }
    &:hover {

      > div {
        opacity: 0.8;
        transform: scale(1.11);
      }
    }
  }
}
.no-select {
  user-select: none;
}

.format_color {
  display: inline-block;
  height: 5px;
  position: absolute;
  bottom: 9px;
  left: 10px;
  right: 10px;

  &.color_border {
    border: 1px solid black;
  }
}

