@import './root';

.icon-button{
  background: transparent;
  border: none;
  cursor: pointer;
}
.block__title {
  margin: 0;
  padding: 32px 16px 16px;
  color: rgba(69, 90, 100, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.bottom-tool-bar {
  display: flex;
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-top: 1px solid #efefef;

  &.around {
    justify-content: space-around;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 10px 5px;
    display: inline-block;
    text-align: center;
    cursor: pointer;

    span {
      display: block;
      margin-top: 5px;
    }

    &:hover, &:active {
      color: $color-highlight;
    }
  }

  &[disabled] {
    li {
      color: rgba(77, 86, 90, 0.6);
      cursor: default;

      &:hover, &:active {
        color: rgba(77, 86, 90, 0.6);
      }
    }
  }
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

